
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: left auto;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  input, select {
    background-color: rgb(247, 244, 247);
    color: rgb(1, 1, 1);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  