.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* Fondo atractivo */
  padding: 20px; /* Espaciado para evitar cortes en pantallas pequeñas */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

/* Caja del formulario */
.formWrapper {
  background: #fff;
  padding: 40px 100px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  min-width: 600px;
  text-align: center;
}


/* Título */
.title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

/* Grupo de entrada */
.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

/* Etiqueta */
.label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

/* Campo de entrada */
.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #6a11cb;
}

/* Botón */
.button {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #6a11cb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #2575fc;
}

/* Enlace */
.link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #6a11cb;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #2575fc;
}

/* Media query para pantallas pequeñas */
@media (min-width: 480px) {
  .formWrapper {
    max-width: 20px; /* Aumenta el ancho máximo en pantallas grandes */
    padding: 100px 40px;
     /* Aumenta el padding */
  }
  .title {
    font-size: 28px; /* Aumenta el tamaño del título */
  }

  .input {
    font-size: 16px; /* Reduce el tamaño de las entradas */
    padding: 12px 15px; /* Ajusta el padding */
  }

  .button {
    font-size: 18px; /* Reduce el tamaño del texto del botón */
    padding: 12px 15px; /* Ajusta el padding */
  }
}